@font-face {
  font-family: 'Jersey';
  src: url('Jersey15Charted-Regular.ttf') format('truetype');
}

:root {
  --first-font: 'Jersey', sans-serif;
}

html {
  font-family: var(--first-font);
}

#main{	
	padding: 10px;

}


#header{color:red

}


#title{
	font-size: 4em;
	color:red;
	position: fixed;
	top: 0px;
	left: 0px;
}


.category{
	padding-right:30px;
}

#categories{
	border: 20px solid green;
	top: 0px;
	right: 0px;
	position: fixed;
}


#footer{
	color:red;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 10px;
	border: 20px solid white;
}


#content{
	background-color:green;
	color:red;
	margin: 0 auto;
	width: 50%;
}

/* two :vertical stack */

.one_container{
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.one_text{
	width: 45%;
	background-color:yellow;
}

.one_pics{
	width: 45%;
	background-color:pink;
}

.one_pic{
	width: 45%;
}


/* two :vertical stack */

.two_container {
    width: 100%;
    margin: 0 auto;
}

.two_text,
.two_pics {
    width: 100%; 
    background-color: pink;
    margin-bottom: 20px;
}

.two_pic{
	width: 100%;
}




.three_container{
}
.two_text{
}
.two_pics{



.three_container{
}
.two_text{
}
.two_pics{


























