@font-face {
  font-family: 'Jersey';
  src: url('Jersey15Charted-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'Schibsted Grotesk';
  src: url('Schibsted_Grotesk.ttf') format('truetype');
}

@font-face {
  font-family: 'CormorantGaramond-Regular';
  src: url('CormorantGaramond-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'micro5charted-regular.ttf';
  src: url('micro5charted-regular.ttf') format('truetype');
}


@font-face {
  font-family: 'JacquardaBastarda9Charted-Regular.ttf';
  src: url('JacquardaBastarda9Charted-Regular.ttf') format('truetype');

}

:root {
  --first-font: 'Jersey', sans-serif;
  --second-font: 'Schibsted Grotesk', sans-serif;
  --third-font: 'CormorantGaramond-Regular', sans-serif;
  --fourth-font: 'Micro5Charted-Regular.ttf', sans-serif;
  --fifth-font: 'JacquardaBastarda9Charted-Regular.ttf', sans-serif;
}



html {
 	font-family: var(--fifth-font);
	


}

.category{
	padding-right:30px;
 	font-family: var(--second-font);
	cursor:pointer;
}


#content{
	font-family: var(--second-font);
}





#colorscheme{
font-family: var(--second-font);
font-size: 1em;
padding-right:20px;
}


#begin{
	border: 1px solid red;
}


#header{

	border: 1px solid red;
}







